<footer>
    <div class="footer-wrapper">

        <div class="footer-logo">
            <!-- <img src="/themes/store/assets/images/logo2.png" alt="фотка "> -->
            <div style="width: 150px;
            height: 150px;
            "></div>
        </div>
        <div class="footer-content">
            <p>тут мав бути якийсь контент включіть уяву</p>
            <!-- <p>тут мав бти якийсь контент</p>
            <p>тут мав бти якийсь контент</p>
            <p>тут мав бти якийсь контент</p> -->
        </div>
        <div class="footer-links">
            <p>Ми у соцмережах:</p>
            <a href="https://facebook.com" rel="qqqq"><img src="/themes/store/assets/images/facebook.png"
                    alt="instagram"></a>
            <a href="https://instagram.com" rel="qqqq"><img src="/themes/store/assets/images/instagram.png"
                    alt="viber"></a>
            <a href="https://viber.com" rel="qqqq"><img src="/themes/store/assets/images/viber.png" alt="facebook"></a>
        </div>

    </div>
</footer>