<header>
    <div class="navigation">
        <nav>
            <ul>
                <!-- <img src="/themes/store/assets/images/logo2.png" alt="logo" width="70px" height="70px"> -->
                <div class="img-logo"></div>
                <a href="{{'home' |page}}">Головна</a>
                <a href="{{'categories' |page}}">Категорії</a>
                <a href="{{'about' |page}}">Про нас</a>
                <a href="{{'buyer' |page}}">Для покупців</a>
                {% if user == null %}
                <a href="{{'login' |page}}">Вхід </a>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div class="burg-menu">
        <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            <span></span>
        </button>

        <div class="offcanvas offcanvas-start" data-bs-backdrop="#offcanvasWithBothOptions" tabindex="-1"
            id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptions">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="staticBackdropLabel">
                    <div class="img-logo"></div>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <nav>
                    <ul>
                        <a href="{{'home' |page}}">Головна</a>
                        <a href="{{'categories' |page}}">Категорії</a>
                        <a href="{{'about' |page}}">Про нас</a>
                        <a href="{{'buyer' |page}}">Для покупців</a>
                        {% if user == null %}
                        <a href="{{'login' |page}}">Вхід </a>
                        {% endif %}

                        <a href="{{'cart' |page}}">
                            Корзина
                        </a>
                        {% if user != null %}
                        <a href="{{'account' |page}}">
                            Профіль
                        </a>
                        {% endif %}
                    </ul>
                </nav>

            </div>
        </div>

    </div>

    <div class="nav-btn">
        <div class="themes form-check form-switch">
            <div class="icon-themes"></div>
            <input class="form-check-input" type="checkbox" role="switch" id="themeSwitch">
            <label class="form-check-label" for="themeSwitch"></label>
            
        </div>

        <a href="{{'cart' |page}}">
            <div class="cart" id="notify-cart-number">{% partial 'notify-cart-number' %}</div>
        </a>
        {% if user != null %}
        <a href="{{'account' |page}}">
            <div class="account"></div>
        </a>
        {% endif %}
    </div>



</header>