<header>
    <div class="navigation">
        <nav>
            <ul>
                <img src="/themes/mytheme/assets/images/logo2.png" alt="logo" width="70px" height="70px">
                <a href="{{'home' |page}}">Головна</a>
                <a href="{{'categories' |page}}">Категорії</a>
                <a href="{{'about' |page}}">Про нас</a>
                <a href="{{'login' |page}}">Вхід </a>
            </ul>
        </nav>
    </div>

    <div class="nav-btn">
        <div class="cart" id="notify-cart-number">{% partial 'notify-cart-number' %}</div>
        <div class="account"></div>
    </div>



</header>