url = "/account"
layout = "default"
title = "Account"

[account]

[session]
security = "all"
checkToken = 0
==

<?php 

function onStart(){
    if(!$this->page['user']){
        Redirect::to('/');
    }
    
}
?>
==

{% if user == null %}
{% do redirect('/') %}
{% endif %}

<div class="account-wrapper">
    <div class="page-name">
        <p>Особистий кабінет</p>
        <hr>
    </div>
    <div class="flex-cont">
        <div class="account-menu">
            <ul>
                <li><a href="">Профіль</a></li>
                <li><a href="">Історія покупок</a></li>
                <li><a href="">Кошик</a></li>
                <li><a href="">Каталог</a></li>
            </ul>

            <hr>
            <button class="button-cart" type="button" data-request="onLogout">Вихід</button>
        </div>
        <div class="account-container">
            <form data-request="onUpdateProfile">

                <div class="input-box">
                    <p>Прізвище</p>
                    <input type="text" placeholder="Введіть прізвище" name="last_name" value="{{user.last_name}}">

                </div>

                <div class="input-box">
                    <p>Ім'я</p>
                    <input type="text" placeholder="Введіть імя" name="first_name" value="{{user.first_name}}">
                </div>

                <div class="input-box">
                    <p>Електрона пошта</p>
                    <input type="email" placeholder="Введіть Ел. пошту" name="email" value="{{user.email}}">
                </div>

                <div class="input-box">
                    <p>Номер телефону</p>
                    <input type="number" placeholder="Введіть Номер тел." name="number" value="{{user.number}}">
                </div>

                <button class="button-cart" type="submit">Зберегти зміни</button>
            </form>

        </div>

    </div>

    <hr>
    <br>

    <div class="page-name">
        <p>Історія покупок</p>
        <hr>
    </div>

    <div class="history">
        {% if user.orders != null %}
        <table class="cart-table">
            <tr>
                <th>Замовлення</th>
                <th>Дата</th>
                <th>Адресса</th>
                <th>Телефон</th>
                <th>Остаточна сума</th>
                <th>Покупки</th>
            </tr>
            {% for order in user.orders %}
            <tr>
                <td>
                    <p>000{{order.id}}</p>
                </td>
                <td>
                    <p>{{order.created_at}}</p>
                </td>
                <td>
                    <p>{{order.address}}</p>
                </td>
                <td>
                    <p>{{order.phone}}</p>
                </td>
                <td>
                    <p>{{order.cart|json_decode|reduce((prev, next, k) => prev + next.price * next.count, 0)}}uah</p>
                </td>
                <td>
                    <table>
                        <th>Товар</th>
                        <th>Розмір</th>
                        <th>Ціна</th>
                        <th>Кількість</th>
                        <th>Сума</th>
                        {% for oc in order.cart|json_decode %}
                        <tr>
                            <td>
                                <div style="display: flex;align-items: center;">
                                    <img style="object-fit: contain;" class="cart-items-img" src="{{oc.src}}"
                                        alt="{{oc.src}}">
                                    <p>{{oc.name}}</p>
                                </div>
                            </td>
                            <td>{{oc.size}}</td>
                            <td>{{oc.price}} грн</td>
                            <td>
                                <div class=" cart-items-count">

                                    <label>{{oc.count}}</label>

                                </div>
                            </td>
                            <td>{{oc.price * oc.count}} грн</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <article>
            <p>Покупок немає!</p>
        </article>
        {% endif %}
    </div>
</div>