url = "/product/:product"
layout = "default"
title = "Product"

==
<?php
use Roman\Store\Models\Sizes;
use Roman\Store\Models\Products;

function onStart() 
{
    $product = $this->param('product');  
    $this["product"] = Products::where("slug" , $product)->first();
}
?>
==
<div class="product-wrapper">

    <div class="prod-container">

        <div class="product-photo">

            <div class="sub-photo">
                <i class='bx bx-chevron-up' id="up-btn"></i>
                <div class="slider-container">
                    <div class="slider">
                        {% for image in product.gallery %}
                        <img style="cursor: pointer;object-fit: contain;" class="onPressImage" src="{{image.path}}"
                            alt="">
                        {% endfor %}
                    </div>
                </div>
                <i class='bx bx-chevron-down' id="down-btn"></i>
            </div>

            <div class="main-photo">
                <img style="object-fit: contain;" id="product-active-image" src="{{product.preview.path}}" alt="">
            </div>

        </div>


        <div class="product-info">
            <p class="product-title">Біла футболка</p>
            <div class="product-desc">
                <p>{{product.desc}}</p>
            </div>
            <div class="product-buy">

                <p>Розміри: </p>
                <form data-request="onAddToCart" data-request-update="'notify-cart-number': '#notify-cart-number'"
                    data-request-flash="success" data-request-message="Добавлення...">
                    <div style="display: flex; ">
                        {% for size in product.sizes %}

                        <div>
                            <input type="radio" name="size" value="{{size.name}}" class="form-check-input btn-check"
                                id="btn-check-outlined_{{size.id}}" {% if loop.index0==0 %} checked {% endif %}>
                            <label class="form-check-label btn btn-outline-danger"
                                for="btn-check-outlined_{{size.id}}">{{size.name}}</label>
                        </div>



                        {% endfor %}
                    </div>

                    {% set data = {
                    'id': product.id,
                    'src': product.preview.path,
                    'name': product.title,
                    'price': product.price,
                    'preview' : product.preview.path,
                    'count' : 1,
                    } %}
                    <input type="text" name="product" id="" value="{{data|json_encode}}" style="display: none;">
                    <div style="display: flex;">
                        <p>Ціна:</p>
                        <p><b>₴{{product.price}}</b></p>
                    </div>

                    <button class="product-button">Добавити в корзину</button>
                </form>
            </div>

            <!-- <form data-request="onClearCart">
                <button type="submit">clear</button>
            </form>
            <p>{{cart|json_encode}}</p>

            {% for c in cart %}

            <p>{{c.name}}</p>

            {% endfor %} -->


        </div>

    </div>


</div>

{% put scripts %}
<script>
    $('.onPressImage').on('click', function (e) {
        const activeImage = $("#product-active-image");
        const clickedImage = $(this);
        activeImage.attr('src', clickedImage.attr('src'));
    });
</script>
{% endput %}