url = "/products/:category/:size/:price?"
layout = "default"
title = "Products"
==

<?php
use Roman\Store\Models\Sizes;
use Roman\Store\Models\Products;

function onStart() 
{
    $category = $this->param('category');
    $size = $this->param('size');
    $price = $this->param('price');

    $data = ['category' => $category, 'sizes' => explode(',', $size), 'price' => $price];
    $this['categories'] = $data;


    $this["products"] = Products::listFrontEnd($data);
    $this["sizes"] = Sizes::all();


}
?>
==

<div class="products-wrapper">

    <div class="categories-filter">
        <div class="filter-size">
            <p>Розмір:</p>
            {% for size in sizes %}
            {% set slugs = categories.sizes %}
            {% if size.slug not in slugs %}
            {% set slugs = slugs|merge([size.slug]) %}
            {% else %}
            {% set slugs = slugs|filter(item => item != size.slug) %}
            {% endif %}
            {% set slugs = slugs|filter(item => item != 'all-sizes') %}

            <input type="checkbox" class="btn-check " id="btn-check-outlined_{{size.id}}" autocomplete="off" {% if
                size.slug in categories.sizes %} checked {% endif %}
                onclick="navigateToPage(`{{ 'products'|page({ size: slugs|join(',') })}}`)">
            <label class="btn btn-outline-danger " for="btn-check-outlined_{{size.id}}">{{size.name}}</label>
            {% endfor %}
        </div>


        <div class="filter-price">
            <!-- <p>Ціна:</p>
            <div class="price-text">
                <p>Від</p>
                <input type="number">
                <p>До</p>
                <input type="number">
            </div> -->
            <p>Ціна:</p>
            <div>
                <div id="dhrS"></div>
                <div style="display: flex;align-items: center;justify-content: center;column-gap: 20px;">
                    <p id="x1"></p>
                    <p id="x2"></p>
                </div>
            </div>
        </div>

        <div class="filter-button">
            <button data-url="{{'products'|page}}" onclick="submitFilter()">Застосувати</button>
            <a style="display: block;" href="{{'products'|page({size:  'all-sizes', price: ''})}}"><button>Скинути</button></a>
        </div>



    </div>

    <div class="categories-content">

        {% for product in products %}

        <div class="card">
            <img src="{{product.preview.path}}" class="" alt="...">
            <div class="card-body">
                <div>
                    <p style="font-size: 18px; text-align: start;"><b>{{product.title}}</b></p>
                    <p style="font-size: 13px; text-align: start; max-height: 60px; overflow: hidden;">{{product.desc}}
                    </p>

                </div>
                <div>
                    <div style="display: flex; justify-content: space-between;">

                        <p>{% for size in product.sizes %} {{size.name}} {% endfor %}</p>
                        <p>{{product.price}} грн</p>
                    </div>
                    <a href="{{'product' |page({product:product.slug})}}">
                        <button class="products-button">Переглянути</button>
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}


    </div>
</div>

{% put scripts %}
<script>
    const count = 10000;
    let dhrS;

    if ("{{categories.price}}") {
        let pr = "{{categories.price}}";
        let splited = pr.split(',');
        dhrS = new DualHRange('dhrS', { lower: Number(splited[0]).toFixed(2) / count, upper: Number(splited[1]).toFixed(2) / count, });
        document.getElementById('x1').innerText = Number(splited[0]);
        document.getElementById('x2').innerText = Number(splited[1]);
    } else {
        dhrS = new DualHRange('dhrS', { lower: 0, upper: 1 });
        document.getElementById('x1').innerText = Math.ceil(dhrS.lower.toFixed(2) * count);
        document.getElementById('x2').innerText = Math.ceil(dhrS.upper.toFixed(2) * count);
    }

    dhrS.addEventListener('update', (event) => {
        document.getElementById('x1').innerText = Math.ceil(event.detail.lower.toFixed(2) * count);
        document.getElementById('x2').innerText = Math.ceil(event.detail.upper.toFixed(2) * count);
    });

    function submitFilter() {
        let dataUrl = "{{'products'|page({price: ''})}}";
        window.location.href = dataUrl + '/' + $('#x1').text() + ',' + $('#x2').text();
    }

    function navigateToPage(url) {
        window.location.href = url;
    }
</script>
{% endput %}