.account-wrapper{
    padding: 0 30px;
}

.account-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.account-container form{
    display: grid;
    grid-template-columns: repeat(2,1fr );
    gap: 20px;
}



.account-container p{
    margin: 0;
}

.flex-cont{
    display: flex;
    flex-direction: row;
    gap: 100px;
    min-height: 400px;
}

.flex-cont a{
    color: black;
}

.account-menu{
    min-width: 300px;

}

.account-menu ul{
    display: flex;
    flex-direction: column;
}

.history{
    display: flex;
    justify-content: center;
    width: 100%;
}
.history .cart-table{
                  
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.cart-table tr td:first-child{
    min-width: 50px !important;
    
}

.margin{
   margin-top: 70px; 
}

.nav-link {
    
    color: black;
    border-radius: 20px !important;
}

.nav-link:hover {
    /* background-color: rgb(254, 175, 188) !important; */
    color: white !important;
    
}

.account-menu .active{
    background-color: deeppink !important;
}




