:root{
    --dark-fon: gray;
    --dark-text: white;
    --dark-item: rgb(175, 175, 175);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url(/themes/store/assets/images/Pink_Watercolor_Aesthetic_Phone_Wallpaper.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.897);
}

ul {
    display: flex;
    justify-content: space-between;
}

button {
    width: 298px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid deeppink;
    background-color: white;
    padding: 0 10px;
}

button:hover {
    background-color: pink;
}   

.main {
    padding-top: 90px;
    flex: 1 1 auto;
}

.home-logo {
    display: flex;
    justify-content: center;
}

.home-logo img {
    margin-top: -30px;
    width: 300px;
    height: 300px;
}

/* = = = = Categories = = = =*/
.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-columns: repeat(5, 1fr); */
    justify-items: center;
    margin-top: 80px;
}

.page-name p {
    font-size: 24px;
    color: deeppink;
    text-align: center;
}

/* .categories-wrapper a {
    text-decoration: none;
  
} */

.pagination-wrapper {
    padding: 25px 40px;
}

.categories-wrapper .card img {
    height: 300px;
    width: 200px;
    border-radius: 4px;
}

.categories-wrapper .card {
    position: relative;
    height: auto;
    width: 204px;
    margin-bottom: 30px;
    padding: 1px;
    text-align: center;
    transition: 0.3s;
}

.categories-name {
    position: absolute;
    bottom: 1px;
    width: 200px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
}

.categories-wrapper .card:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: pink;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

/* = = = = Products = = = = */

.products-wrapper {
    position: relative;
    padding-top: 80px;
    margin-bottom: 20px;
    /* background-image: url(/themes/store/assets/images/Pink_Watercolor_Aesthetic_Phone_Wallpaper.png);
    background-size: cover;
    background-position: center; */
}

.categories-filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 80px; */
    border: solid 1px gray;
    position: absolute;
    position: fixed;
    top: 69px;
    z-index: 100;
    background-color: white;
    box-shadow: pink 1px 5px 5px;
    padding: 5px 40px;

    transition: transform 0.5s;
}

.categories-filter p {
    margin: 0;
}

.filter-size {
    text-align: center;
    min-width: 200px;
}

.filter-size label {
    font-size: 12px;
}

.filter-price {
    text-align: center;
    min-width: 200px;
}

.filter-price .input-box {
    margin: 5px 0;
    border-radius: 20px;
    height: 30px;
    padding: 0 15px;
    padding-right: 34px;
    border: 1px solid deeppink;
    width: 120px;
}

.price-text {
    display: block;
    display: flex;
    justify-content: space-between;
}

.price-text input {
    border-radius: 20px;
    height: 2em;
    border: 1px solid deeppink;
    width: 100px;
    padding: 0 15px;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-text p {
    margin: 0 5px;
}

.filter-button {
    display: flex;
    flex-direction: column;
}

.filter-button button {
    width: 120px;
    margin: 5px;
    height: 24px;
    border-radius: 20px;
    border: 1px solid deeppink;
    background-color: white;
}

.filter-button button:hover {
    background-color: pink;
}

.categories-content {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    justify-items: center;
}

.products-wrapper .card {
    width: 205px;
    height: auto;
    padding: 2px;
    border-radius: 10px;
    transition: 0.3s;
}

.products-wrapper .card:hover {
    transform: scale(1.05);
    /* cursor: pointer; */
    /* background-color: pink; */
    /* background-color: var(--mblue); */
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.products-wrapper img {
    width: 200px;
    height: 300px;
    border-radius: 9px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
    position: relative;
}

.card-body p {
    margin: 2px;
    padding: 0 5px;
    font-size: 14px;
}

.products-button {
    margin: 5px;
    width: 180px;
}

/* = = = Range = = = */
.drbar-range{
    background-color: pink !important;
}

.drbar-slider{
    background-color: rgb(248, 162, 177) !important; 
}

@media (max-width: 600px) {

    .categories-filter {
        display: flex;
        flex-direction: column;
    }

    .filter-button{
        align-items: center; 
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .categories-content{
        margin-top: 100px;
    }
}